@font-face {
   font-family: 'craftmincho';
   font-display: swap;
   src: url('file:///C:/Users/kai/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-01-27_062617/fonts/craftmincho/font.ttf');
}
